.tabs-wrapper {
    /* border: 1px solid red;
    border-radius: 20px; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border-bottom: 1px solid black; */

    color: white;
    height: 70vh;
    font-size: 30px;
    font-weight: bold;

    padding-bottom: 110px; /* add room for audio player */
}

.tabs-body {
    width: 100%;
    padding-bottom: 50px; /* add room for audio player */
    background-color: white;
    /* PLEASE change color scheme
     OR
     fix scrolling behavior to allow to scroll to view entire tab
     iframe but keep the main website's background the same with no whitespace
     so the tab iframe doesnt hang over the edge of the main background */
}