.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: var(--color-text-primary);
    font-size: 30px;
    font-weight: bold;

    padding-bottom: 155px;
}

.video-responsive {
    margin: 20px;
}
