.merch-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: var(--color-text-primary);
    height: 70vh;
    font-size: 30px;
    font-weight: bold;
}

.merch-ul {
    display: flex;
    flex-wrap: wrap;

    padding: 0px;

    justify-content: center;

    padding-bottom: 110px;
}



.store-item-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
}




.swiper-boi {
    width: 100%;
}


.swiper-slide {
    display: flex;
}

.swiper-slide:hover {
    cursor: pointer;
}



.merch-loading {
    height: 70vh;
}
