.shows-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: var(--color-text-primary);
    font-size: 30px;
    font-weight: bold;

    padding-bottom: 110px;
}

.show-dates-ul {
    list-style: none;
    padding-left: 0px;
    width: 80%;
}

.show-date-li {
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-flyer {
    height: 300px;
    width: 235px;
    margin: 30px;
}
.show-flyer-0 {
    height: auto;
    width: 235px;
    margin: 30px;
}

.show-description {
    margin: 30px;
    width: 350px;
}

.venue-map-link {
    text-decoration: none;
    color: var(--color-text-link);
    transition: color var(--animation-duration) ease;
}

.venue-map-link:visited {
    text-decoration: none;
    color: var(--color-text-link);
}
.venue-map-link:hover {
    color: var(--color-primary);
}

/* Lovecraftian shows page: subtle glow on flyers */
[data-theme="lovecraftian"] .show-flyer,
[data-theme="lovecraftian"] .show-flyer-0 {
    transition: filter var(--animation-duration) ease;
}

[data-theme="lovecraftian"] .show-flyer:hover,
[data-theme="lovecraftian"] .show-flyer-0:hover {
    filter: drop-shadow(0 0 15px rgba(61, 122, 122, 0.4));
}
